<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="slaveAddress" value="1"/>
		<add key="rtuComName" value="COM2"/>
		<add key="rtuBaudRate" value="9600"/>
		<add key="rtuDataBits" value="8"/>
		<add key="rtuParity" value="0"/>
		<add key="rtuStopBits" value="1"/>
		<add key="rtuReadTimeout" value="2000"/>
		<add key="rtuWriteTimeout" value="2000"/>
		
		 <!--<add key="addrPrefix" value="GVL." /> 
		 <add key="netId" value="127.0.0.1.1.1" /> 
		 <add key="port" value="851" />--> 
		
		<add key="addrPrefix" value="." />
		<add key="netId" value="169.254.4.160.1.1" />
		<add key="port" value="851" />
	</appSettings>
</configuration>